body { margin:0 auto;}
h1,h2,p {
	margin:0px;
}
svg {
	margin-left:auto; margin-right:auto; display:block;
}

.axis {
	font: 12px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.tooltip {
	position: absolute;
	width: 150px;
	height: 35px;
	pointer-events: none;
}