#g-chart .year {
    fill: #777;
    font-size: 11px;
}
#g-chart .decade {
    font-weight: bold;
}
#g-chart .overlay {
    fill: none;
    pointer-events: all;
}

#g-focus {
    display: none;
    pointer-events: none;
}
#g-chart .tooltip {
    fill: #777;
    font-size: 11px;
}
#g-chart svg {
    overflow: visible;
    display: inline-block;
}
#g-chart .title {
    font-size: 13px;
}
#g-chart  .legendCell{
    display: inline-block;
    text-align: center;
}