<div class="row s12 flex_contain flex_warp white" style="overflow-y: auto; max-height: 70vh">
    <div class="flex_col valign-wrapper first layoutGroup" ng-repeat="rack in Layout.data.groups" >
        <div class="holder" ng-click="rack.collapse=!rack.collapse">
            <div class="row s12" style="margin:5px">
                <span class="name truncate col">{{rack.Name}}</span>
                <div class="info col"><span class="info selected">{{rack.selected}}</span> <span class="info total" >/{{rack.total}}</span> </div>
            </div>
            <div class="row s12" ng-repeat="r in rack.value track by $index" style="margin-bottom: 10px" ng-if="rack.collapse">
                <div class="col element" style="width: {{1/r.length*100}}%" ng-repeat="c in r track by $index">
                    <span ng-class="{'notSelected': Layout.data.hostsObj[c]&&Layout.data.hostsObj[c].notSelected, 'notExisted': !Layout.data.hostsObj[c]||(Layout.data.hostsObj[c]&&Layout.data.hostsObj[c].notExisted)}" class="col s12">{{c.replace('compute-','')}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
