/*#messages_table .dataTable th:not(:first-child) {*/
    /*width: unset !important;*/
/*}*/
:root {
    --fontBigger: 14px;
    --fontSmaller: 12px;
}
#messages_table table.dataTable td{
    line-height: 1.25rem;
}

#messages_table label select {
    padding-top: 0;
    padding-bottom: 0;
    height: 1.5rem;
    width:auto;
    display: unset;
}
#lensingbtn:hover {
    background-color: #fc8;
}

.light .tablediv{
    padding: 10px;
    background-color: #dddd;
    margin-bottom: 0px;
    margin-top: 20px;
}
.timeBox {
    fill: #dddd;
}

.notselectable {
    pointer-events: none;
}

.light table.dataTable tbody tr
{
    background-color: rgba(255, 255, 255,1);
}
text tspan {
    font-weight: 900
}

.SearchTerm {
    font-weight: bold;
    font-size: var(--fontBigger);
}
.fontBigger {
    font-size: var(--fontBigger);
}
.tick {
    font-size: var(--fontSmaller);
}

.fontSmaller {
    font-size: var(--fontSmaller);
}
.light #Chartcontent {
    background-color: white;
}

#rackCollection {
    width: 200px;
    max-height: 300px;
    overflow-y: auto;
}

#rackCollection .collapsible-body {
    padding: 1px 12px;
}
#rackCollection .collapsible-header {
    padding: 2px 6px;
    background-color: var(--colorMain2_light);
}
#rackCollection li .expand {
    transform: rotate(0deg);


    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(0deg);

    /* Firefox */
    -moz-transform: rotate(0deg);

    /* IE */
    -ms-transform: rotate(0deg);

    /* Opera */
    -o-transform: rotate(0deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transition: all 1s; /* Safari prior 6.1 */
    transition: all 1s;
    position: absolute;
    right: 0;
}
#rackCollection li.active .expand {
    transform: rotate(90deg);


    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transition: all 1s; /* Safari prior 6.1 */
    transition: all 1s;
}
.timeLegendText {
    font-size: 12px;
}
.slider_range .handle.handle--e, .slider_range .handle.handle--w {
    opacity: 0;
}
.legendText {
    font-weight: bold;
}
