:root {
    --sideNavwidth: 400px;
}

svg.mainmap {
    background-color: white;
}

.sumdrag {
    position: absolute;
    /*transform: translate(-50%, -50%);*/
    left: calc(50% - 300px);
    top: calc(50% - 300px);

}