.progress-bar-wrapper{
    position: relative;
}
.progress-bar-wrapper.disabled{
    pointer-events: none;
}
.progress-bar-wrapper:hover .progress-bar-handle{
    opacity: 1;
}
.progress-bar-handle {
    position: absolute;
    top: -0.1rem;
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--primary);
    border-radius: 1.1rem;
    transform: translateX(-50%);
    transition: left .6s ease;
    opacity: 0;
}
