<modal id="database-table" max-width="800px">
    <div class="modal-header">
        <modal-close-button></modal-close-button>
        <h5>Add Dataset</h5>
    </div>

    <div class="modal-main">
        <tabset>
            <tab heading="Change Dataset">
                <change-loaded-dataset></change-loaded-dataset>
            </tab>
            <tab heading="Paste or Upload Data">
                <paste-dataset></paste-dataset>
            </tab>
            <!--<tab heading="From URL">-->
                <!--<add-url-dataset></add-url-dataset>-->
            <!--</tab>-->
        </tabset>
    </div>

</modal>